@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 2px;
}

/*＝＝＝＝＝セクション　統一＝＝＝＝＝*/
section{
	width:80%;
	min-height:100vh;
/*	height:100vh;*/
	margin:0 auto;
	display:flex;
	flex-direction: column;
	justify-content:center;	
}

h2{
	padding:32px 0px 40px;
	text-align:center;
	font-family: 'Pontano Sans', sans-serif;
	letter-spacing: 4px;
	font-size:24px;
}

/*＝＝＝＝＝＝背景画像＝＝＝＝＝＝*/
.background-image{
	background-image: url(../img/Top.jpg);	
	background-size:cover;
	opacity:0.9;
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:-100;
	transition:all 1.0s ease;
}

.background-image.active{
	filter:blur(3.5px);
}

/*＝＝＝＝＝＝ハンバーガーメニュー＝＝＝＝＝＝*/
#menu{ /*位置の設定*/
	position:fixed;
	top:40px;
	right:40px;
	z-index: 9999;
}

.open,.close{ /*大きさの設定*/
	position: relative;
	height: 24px;
	width: 24px;
	display: inline-block;
	box-sizing: border-box;
}

.open div,.close div{ /*線の太さ*/
	position: absolute;
  	left: 0;
 	height: 2px;
  	width: 23px;
  	background-color: #000000;
  	border-radius: 10px;
  	display: inline-block;
  	box-sizing: border-box;
  	transition:all 0.5s ease;
}

/*オープン時の形*/
.open div:nth-of-type(1) {
  	top: 0px;
}
.open div:nth-of-type(2) {
  	top: 7px;
}
.open div:nth-of-type(3) {
  	bottom: 7px;
}

/*クローズ時の形*/
.close div:nth-of-type(1) {
  	top: 11px;
  	transform:rotate(45deg);
}
.close div:nth-of-type(2) {
	display:none;
}
.close div:nth-of-type(3) {
  	bottom: 11px;
  	transform:rotate(-45deg);
}

/*＝＝＝＝＝＝メニューページ＝＝＝＝＝＝*/
nav{ /*ページの設定*/
	width:100vw;
	height:100vh;
	position:fixed;
	background-color:rgba(255,255,255);
	transition:all 0.5s ease;
	z-index:5000;
}

nav.first{
	transform:translateY(100%);
}
nav.active{ /*アクティブ時の位置*/
	transform:translateY(0);
}

nav.end{ /*アクティブ時の位置*/
	transform:translateY(-100%);
}

#menu_list{
	display:flex;
}
#menu_list div:nth-of-type(1){
}
#menu_list div:nth-of-type(2){
}

.menu_img{
	height:100%;
}

nav h2{
	padding:0px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:100px;
}

.menu_back{ /*メニューの位置*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

ul,li{ 
	list-style:none;
}

ul{
	/*真ん中寄せ*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:240px;
	display:inline-block;
}


li{
	margin-bottom:30px;
	text-align:center;
	position:relative;
}


nav a::before{
	position:absolute;
	content:'';
	top:50%;
	left:0;
	width:100%;
	height:1px;
	background-color:rgba(200, 200, 200, 0.5);
	transform:translateY(-50%);
}
nav a:hover::before{
	position:absolute;
	content:'';
	top:50%;
	left:0;
	width:100%;
	height:3px;
	background-color:rgba(246, 240, 99, 1);
	transform:translateY(-50%);
	z-index: 10;
}

nav a{
	color:#000000;
	text-decoration:none;
	color:black;
	font-size:16px;
	position:relative;
	top:0px;
	display:block;
	height:20px;
	line-height:20px;
}

.menu_left{
	position:absolute;
	left:0;
	background-color:white;
}

.menu_right{
	position:absolute;
	right:0;
	background-color:white;
}


/*＝＝＝＝＝＝Top＝＝＝＝＝＝*/
#top{
	display:flex;
	flex-direction: column;
  	align-items: center;
  	justify-content:center;
  	position:relative;

	/*display: table-cell;
  	vertical-align: middle;
  	text-align:center;
	background-size:cover;*/
}

#top h1{
	font-size:64px;
	font-family: 'Poiret One', cursive;
}
#top p{
	font-size:20px;
	font-family: 'Poiret One', cursive;
}

#top > h1,#top > p{
	animation: fadeIn 2.5s cubic-bezier(0.54, 0.13, 0.15, 0.92);
	animation-fill-mode: forwards;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	40%{
		opacity:0.5;
	}
	60%{
		opacity:0.7;
	}
	100%{
		opacity:1;
		transform: translateY(0px);
	}
}

.scroll{
	position: absolute;
	bottom: 20px;
	left: 50%;
	display: flex;
	text-decoration: none;
	transform:translate(-50%,-50%);
	padding-top: 60px;
	color:#000000;
}
.scroll span{
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	transform: rotate(-45deg);
	box-sizing: border-box;
	animation: sdb 1.5s infinite;
}

@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*＝＝＝＝＝＝Profile＝＝＝＝＝＝*/
.about_box{
	display:flex;
	width:100%;
	justify-content:space-between;
}
.a_box1{
	width:calc(100%-300px);
}
/*.a_box2{
	position:relative;
	width:500px;
}*/
.Name{
	font-weight: bold;	
}

.about_img{
/*	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);*/


	background-size: cover;
  	background-position: center center;/*上下左右の中央で抜き出し*/
  	width:300px;
  	height:400px;
  	object-fit: cover;
  /*  	padding-top: 100%;*/
/*  	height: 80%;*/
	border-radius: 4px;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.8);
}
.sns_back{
	background-color:rgba(0,0,0,0);
	border-radius:50%;
	width:30px;
	height:30px;
	position:relative;
	margin-right:12px;
}
.fa-twitter{
	position:absolute;
	display:flex;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size: 30px;
	color: #1DA1F2;
}
.fa-instagram{
	position:absolute;
	display:flex;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size: 30px;
	color: #D93177;
}
.a_sns{
	display:flex;
	justify-content:flex-start;
}

/*＝＝＝＝＝＝Works＝＝＝＝＝＝*/
#works{
	text-align: center;
	position:relative;
}

.works_list{
	display:flex;
	width:100%;
	justify-content:space-between;
	flex-wrap:wrap;
}

.works_box{
	width:30%;
	padding:8px;
}

.works_img{
	display:block;
	text-align: center;
	position:relative;
	transition:all 5s;
}

.img{
	background-size: cover;
  	background-position: center center;/*上下左右の中央で抜き出し*/
  	padding-top: 62.5%;
  	width: 100%;
	border-radius: 4px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.hoverBlack{
	visibility: hidden;
	opacity:0;
	transition:all 0.5s ease;

	/*中央揃え*/
	position:absolute;
	display:flex;
	justify-content: center;
	align-items:center;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
    /*画像サイズ*/
	width:95%;
	height:95%;
	background-color:rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	/*文字*/
	font-size:20px;
	color:black;
}
.works_img:hover > .hoverBlack{
	visibility: visible;
	opacity:1;
}

.works_box p{
	text-align: center;
}

/*＝＝＝＝＝＝blog＝＝＝＝＝＝*/
.blg_list{
	display:flex;
	flex-direction: column;
  	align-items: center;
}
.blg_block{
	position:relative;
	display:flex;
	width:80%;
	height:150px;

	background-color:white;
	margin:15px;
	border-radius: 4px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	transition:all 0.5s ease;
}

.blg_block:hover{
	box-shadow: 0px 0px 16px rgba(0,0,0,0.8);
}

.blg_block a{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
}

.blg_img{
	width:30%;
	background-size: cover;
  	background-position: center center;/*上下左右の中央で抜き出し*/
  	border-radius:4px 0 0 4px;
}

.blg_text{
	position:relative;
	width:70%;
	margin:24px 16px;
}
.blg_title{
	text-align:center;
	font-size:18px;
}
.blg_more{
	position:absolute;
	font-size:14px;
	bottom:0px;
	right:0px;
}



/*＝＝＝＝＝＝Contact＝＝＝＝＝＝*/
.contact_box {
	width:40%;
	margin: 0 auto;
}

.contact_box p{
	font-size:8px;
	text-align: right;
	color:red;
}

.contact_iptxt {
	position: relative;
	width: 100%;
	margin: 1px auto 10px;
}
.contact_iptxt input,.contact_iptxt textarea{
	font: 16px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 1px 0;
	padding: 5px;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.contact_iptxt input[name="subj"],.contact_iptxt textarea{
	padding-left:10px;
}
.contact_iptxt textarea{
	height:150px;
	resize:none;
}

.contact_iptxt input:focus,.contact_iptxt textarea:focus {
	border-color: #da3c41;
}
.contact_iptxt input[name=name],input[name=email],input[name=tel] {
	padding-left: 40px;
}
.contact_iptxt svg {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 9px 8px;
/*	transition:0.3s;*/
	color: #aaaaaa;
}

.contact_btn{
	text-align:center;
}

.contact_btn input{
	font: 15px/24px sans-serif;
	border:1px solid #333;
	width:20%;
	margin:8px 0px;
	padding:5px;
	transition:all 0.5s ease;
}

.contact_btn input:hover{
	background-color:black;
	color:white;

}

/* レスポンシブ対応 */
/*PC 1024以上
 タブレット　750px
 スマホ　それ以下*/

@media screen and (max-width: 1023px){ /*タブレットサイズ*/
	section{
		width:90%;
	}
	#works{
		height:auto;
	}
	.works_list{
		flex-flow: column;
		align-items:center;
	}
	.works_box{
		padding:8px;
	}
	#works{
		height:auto;
	}
}

@media screen and (max-width: 749px){ /*スマホサイズ*/
	section{
		width:90%;
	}
	.about_box{
		display:flex;
		flex-direction:column-reverse;
		align-items:center;
		text-align:center;
	}
	.about_img{
		width:400px;
		height:300px;
	}

	.menu_img{
		filter:blur(3.5px);		
	}

	.menu_left,.menu_right{
		background-color:rgba(0,0,0,0);
		color:white;
	}

	.works_box{
		width:90%;
	}

	.blg_block{
		width:90%;
	}

	.contact_box{
		width:90%;
	}
}

/*@media screen and (max-height: 590px){
	#contact{
		height:auto;
	}
}

@media screen and (max-height: 555px){
	#works{
		height:auto;
	}
}

@media screen and (max-height: 530px){
	#profile{
		height:auto;
	}
}*/
