@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
}

/*＝＝＝＝＝セクション　統一＝＝＝＝＝*/
section{
	width:100vw;
	height:100vh;
}

#works{
	height:auto;
}

h2{
	padding:10px;
	text-align:center;
}

/*＝＝＝＝＝＝ハンバーガーメニュー＝＝＝＝＝＝*/
#menu{ /*位置の設定*/
	position:fixed;
	top:40px;
	right:40px;
	z-index: 9999;
}

.open,.close{ /*大きさの設定*/
	position: relative;
	height: 24px;
	width: 24px;
	display: inline-block;
	box-sizing: border-box;
}

.open div,.close div{ /*線の太さ*/
	position: absolute;
  	left: 0;
 	height: 2px;
  	width: 23px;
  	background-color: #000000;
  	border-radius: 10px;
  	display: inline-block;
  	box-sizing: border-box;
  	transition:all 0.5s ease;
}

/*オープン時の形*/
.open div:nth-of-type(1) {
  	top: 0px;
}
.open div:nth-of-type(2) {
  	top: 7px;
}
.open div:nth-of-type(3) {
  	bottom: 7px;
}

/*クローズ時の形*/
.close div:nth-of-type(1) {
  	top: 11px;
  	transform:rotate(45deg);
}
.close div:nth-of-type(2) {
	display:none;
}
.close div:nth-of-type(3) {
  	bottom: 11px;
  	transform:rotate(-45deg);
}

/*＝＝＝＝＝＝メニューページ＝＝＝＝＝＝*/
nav{ /*ページの設定*/
	width:100vw;
	height:100vh;
	transform:translateY(100%);
	position:fixed;
	background-color:rgba(255,255,255);
	transition:all 0.5s ease;
	z-index:5000;
}
nav.active{ /*アクティブ時の位置*/
	transform:translateY(0);
}

#menu_list{
	display:flex;
}
#menu_list div:nth-of-type(1){


}
#menu_list div:nth-of-type(2){
}

.menu_img{
	height:100%;
}

nav h2{
	padding:0px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:100px;
}

.menu_back{ /*メニューの位置*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

ul,li{ 
	list-style:none;
}

ul{
	/*真ん中寄せ*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
/*	height:40px;
	display:flex;
	justify-content:flex-end;
	align-items:center;*/
}



li{
	padding:10px;
	text-align:left;
}

a{
	color:#000000;
	text-decoration:none;
	padding:20px 10px;
	color:black;
	font-size:30px;
	text-align: center;
}

/*背景画像*/
.background-image{
	background-image: url(../img/Top.jpg);	
	background-size:cover;
	opacity:0.9;
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:-100;	
	transition:all 1.0s ease;
}

.background-image.active{
	filter:blur(3.5px);
}

/*＝＝＝＝＝＝Top＝＝＝＝＝＝*/
#top{
	display: table-cell;
  	vertical-align: middle;
  	text-align:center;
	background-size:cover;
}

#top h1{
	font-size:64px;
}
#top p{
	font-size:20px;
}


/*＝＝＝＝＝＝Profile＝＝＝＝＝＝*/
#about{
	width:90%;
	margin: 0 auto;
}
.about_box{
	display:flex;
}

.a_box1,.a_box2{
	width:50%;
}

.polaroid{
	width:90%;
	background-color:white;
	box-shadow:0 0 8px #ddd;
	margin:0 auto;
}

.a_box1 img{
	width:90%;
	border:solid 1px #ddd;
	margin:20px;
}

.a_box1 p{
	font-size:16px;
	text-align: center;
}

/*＝＝＝＝＝＝Works＝＝＝＝＝＝*/
#works{
	width:90%;
	margin:0 auto;
	text-align: center;
	position:relative;
}

.works_list{
	display:flex;
	width:100%;
	justify-content:center;
	flex-wrap:wrap;
}

.works_box{
	padding:10px 0;
	width:40%;
}

.works_img{
	display:block;
	text-align: center;
	position:relative;
	width:100%;
}

.works_img img{
	width:500px;
	height:285px;
/*	position: absolute;*/
}
.hoverBlack{
	display:none;
	background-color:rgba(113, 114, 114, 0);
	font-weight: bold;
}
.works_img:hover > .hoverBlack{
	position:absolute;
	display:flex;
	justify-content: center;
	align-items:center;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:480px;
	height:265px;
	background-color:rgba(113, 114, 114, 0.6);
	font-size:20px;
}

.works_box p{
	text-align: center;
}

.more{
	width:100%;
}
.works_btn {
  display: inline-block;
  /*
  position:absolute;
  bottom:0px;
  */
  padding: 3px 10px;
  font-size: 16px;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}

.works_btn:hover {
  background: #67c5ff;
  color: white;
}


/*＝＝＝＝＝＝Contact＝＝＝＝＝＝*/
form{
	width:80%;
	margin:0 auto;
}
.cp_iptxt {
	position: relative;
	width: 40%;
	margin: 10px auto;
}
.cp_iptxt input,.cp_iptxt textarea{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 5px;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[name="subj"],.cp_iptxt textarea{
	padding-left:10px;
}
.cp_iptxt textarea{
	height:150px;
	resize:none;
}

.cp_iptxt input:focus,.cp_iptxt textarea:focus {
	border-color: #da3c41;
}
.cp_iptxt input[name=name],input[name=email],input[name=tel] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
/*.cp_iptxt input:focus,.cp_iptxt textarea:focus + i {
	color: #da3c41;
}*/

.contact_btn{
	text-align:center;
}

.contact_btn input{
	font: 15px/24px sans-serif;
	border:1px solid #333;
	width:20%;
	margin:8px 0px;
	padding:5px;
}

.contact_btn input:hover{
	background-color:black;
	color:white;

}