@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
}

/*＝＝＝＝＝セクション　統一＝＝＝＝＝*/
section{
	width:100vw;
	height:100vh;
}

h2{
	padding:30px;
	text-align:center;
}

/*＝＝＝＝＝＝メニュー＝＝＝＝＝＝*/
#menu{
	position:fixed;
	top:10px;
	right:20px;
	z-index: 9999;
}
/*ハンバーガー*/
.open,.close{
	position: relative;
	height: 24px;
	width: 24px;
	display: inline-block;
	box-sizing: border-box;
}

/*線の太さ*/
.open div,.close div{
	position: absolute;
  	left: 0;
 	height: 4px;
  	width: 24px;
  	background-color: #000000;
  	border-radius: 2px;
  	display: inline-block;
  	box-sizing: border-box;
}

/*オープン時*/
.open div:nth-of-type(1) {
  	top: 0px;
}
.open div:nth-of-type(2) {
  	top: 10px;
}
.open div:nth-of-type(3) {
  	bottom: 0px;
}

/*クローズ時*/
.close div:nth-of-type(1) {
  	top: 10px;
  	transform:rotate(45deg);
}
.close div:nth-of-type(2) {
	display:none;
}
.close div:nth-of-type(3) {
  	bottom: 10px;
  	transform:rotate(-45deg);
}

nav{
	width:100vw;
	height:100vh;
	transform:translateY(100%);
	position:fixed;
	background-color:green;
	transition:all 0.5s ease;
}
nav.active{
	transform:translateY(0);
}

ul,li{
	list-style:none;
}

ul{
	/*真ん中寄せ*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
/*	height:40px;
	display:flex;
	justify-content:flex-end;
	align-items:center;*/
}

li{
	padding:10px;
	text-align:center;
}
nav h2{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:140px;
}
a{
	color:#000000;
	text-decoration:none;
	padding:20px 10px;
	color:white;
	font-size:30px;
	text-align: center;
}

.background-image{
	background-image: url(./img/test.jpg);	
	background-size:cover;
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:-100;	
}

/*＝＝＝＝＝＝Top＝＝＝＝＝＝*/
#top{
	display: table-cell;
  	vertical-align: middle;
  	text-align:center;
}

.top_square{
	width:100%;
	padding:30px 0px;
	background-color:rgba(255,255,255,0.5);
}

#top h1{
	font-size:40px;
/*	font-family: 'Kalam', cursive;
*/font-family: 'Baloo Tamma', cursive;
}


/*＝＝＝＝＝＝Profile＝＝＝＝＝＝*/
#about{
	width:90%;
	margin: 0 auto;
}
.about_box{
	display:flex;
}

.a_box1,.a_box2{
	width:50%;
}

.polaroid{
	width:90%;
	background-color:#fff;
	box-shadow:0 0 8px #ddd;
	margin:0 auto;
}

.a_box1 img{
	width:90%;
	border:solid 1px #ddd;
	margin:20px;
}

.a_box1 p{
	font-size:16px;
	text-align: center;
}


